train_data/*
.env
logs/*
bot_vision/debug/*
model_checkpoints/*
*.keras
__pycache__/*
q_table.csv
db/q_table_worker_0.db
db/q_table_worker_0.db-shm
db/q_table_worker_0.db-wal
db/q_table_worker_1.db
db/q_table_worker_1.db-shm
db/q_table_worker_1.db-wal
db/q_table_worker_2.db
db/q_table_worker_2.db-shm
db/q_table_worker_2.db-wal
